In [1]:
import numpy as np
import pandas as pd

In [82]:
from scipy.stats import entropy
import math

In [80]:
def entropy_(p):
    return -sum([pk * math.log(pk, 2) for pk in p])

In [5]:
df = pd.read_csv("https://stepik.org/media/attachments/course/4852/dogs.csv", index_col=0)

In [7]:
df

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик

In [8]:
df2 = pd.read_csv("https://stepik.org/media/attachments/course/4852/cats.csv", index_col=0)

In [10]:
df2

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик
8         1        1                   1    котик
9         0        0                   1    котик

In [93]:
base_entropy = entropy_(df2['Вид'].value_counts(normalize=True))
N = df2.shape[0]

for i in range(df2.shape[1]-1):
    
    data_less = df2[df2.iloc[:,i] < 0.5 ]['Вид']
    n1 = data_less.shape[0]
    #print(data_less)
    #print()
    #print(data_less.value_counts(normalize=True))
    print("Энтропия :", entropy_(data_less.value_counts(normalize=True))    )
    #print()
    
    data_more = df2[df2.iloc[:,i] >= 0.5 ]['Вид']
    n2 = data_more.shape[0]
    #print(data_more)
    #print(data_more.value_counts(normalize=True))
    print("Энтропия :", entropy_(data_more.value_counts(normalize=True))    )
    
    print(n1/float(N), n2/float(N))
    IG = base_entropy - n1/float(N)*entropy_(data_less.value_counts(normalize=True))  \
                      - n2/float(N)*entropy_(data_more.value_counts(normalize=True))
                
    
    
    print("IG =", IG)    
    print()

Энтропия : -0.0
Энтропия : 0.9910760598382222
0.1 0.9
IG = 0.07898214060026854

Энтропия : -0.0
Энтропия : 0.7219280948873623
0.5 0.5
IG = 0.6099865470109874

Энтропия : -0.0
Энтропия : -0.0
0.4 0.6
IG = 0.9709505944546686

In [87]:
n1/float(N)*entropy_(data_less.value_counts(normalize=True))

-0.0

In [84]:
base_entropy

0.9709505944546686

In [77]:
-0.2*math.log(0.2, 2)-0.8*math.log(0.8, 2)

0.7219280948873623

In [78]:
-0.2*math.log(0.2)-0.8*math.log(0.8)

0.5004024235381879