In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
from sklearn import tree

In [2]:
data = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv')

In [3]:
data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [5]:
data.shape

(1000, 6)

In [6]:
from sklearn import tree

In [7]:
X = data.drop(columns=['Вид'])
y = data['Вид']

In [10]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [11]:
clf.score(X,y)

1.0

In [14]:
test_data = pd.read_json('../data/dataset_209691_15.txt')

In [15]:
test_data.head()

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      16    19.2         1        1                   0
1      20    24.0         1        1                   0
10     28    33.6         1        1                   0
11     18    21.6         1        1                   0
12     25    30.0         1        1                   0

In [16]:
test_data.shape

(100, 5)

In [17]:
y_hat = clf.predict(test_data)

In [19]:
type(y_hat)

numpy.ndarray

In [21]:
y_hat[:5]

array(['собачка', 'собачка', 'собачка', 'собачка', 'собачка'],
      dtype=object)

In [23]:
sum(y_hat == 'собачка')

58