In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/iris.csv', index_col=0)

In [7]:
df.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [8]:
%%timeit
df.apply(np.mean)

679 µs ± 12.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
%%timeit
df.mean(axis=0)

85.7 µs ± 599 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [10]:
%%timeit
df.describe().loc['mean']

9.19 ms ± 61.9 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
%%timeit
df.apply('mean')

495 µs ± 8.73 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)