In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
events_data = pd.read_csv("../data/event_data_train.zip")

In [3]:
events_data.head()

   step_id   timestamp      action  user_id
0    32815  1434340848      viewed    17632
1    32815  1434340848      passed    17632
2    32815  1434340848  discovered    17632
3    32811  1434340895  discovered    17632
4    32811  1434340895      viewed    17632

In [6]:
events_data['date'] = pd.to_datetime(events_data.timestamp, unit='s')

In [7]:
events_data.head(5)

   step_id   timestamp      action  user_id                date
0    32815  1434340848      viewed    17632 2015-06-15 04:00:48
1    32815  1434340848      passed    17632 2015-06-15 04:00:48
2    32815  1434340848  discovered    17632 2015-06-15 04:00:48
3    32811  1434340895  discovered    17632 2015-06-15 04:01:35
4    32811  1434340895      viewed    17632 2015-06-15 04:01:35

In [8]:
events_data['date'].min()

Timestamp('2015-06-15 04:00:48')

In [9]:
events_data['date'].max()

Timestamp('2018-05-19 23:33:31')

In [10]:
events_data.dtypes

step_id               int64
timestamp             int64
action               object
user_id               int64
date         datetime64[ns]
dtype: object